.items_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #7d7a7a;
}

.item_name {
  flex: auto;
}

.price {
  color: #e38a5a;
}

.amount_box {
  border: 1px grey solid;
  padding: 1px 4px;
  margin-right: 117px;
  position: absolute;
}

hr {
  margin: 0;
  border: none;
  border-bottom: solid 1px #000000;
  opacity: 0.2;
}
.dotted {
  border: none;
  height: 1px;
  background: #000;
  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 5px,
    transparent 5px,
    transparent 8px
  );
}

.total_container {
  background-color: grey;
}
